<a href="https://colab.research.google.com/github/mm16645/CE888/blob/main/CE888_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!git clone 'https://github.com/mm16645/CE888'

Cloning into 'CE888'...
remote: Enumerating objects: 237, done.
remote: Total 237 (delta 0), reused 0 (delta 0), pack-reused 237
Receiving objects: 100% (237/237), 16.18 MiB | 23.63 MiB/s, done.
Resolving deltas: 100% (59/59), done.

In [3]:
import numpy as np
import pandas as pd

In [81]:
def import_data(testtext,testlab,traintext,trainlab,valtext,vallab):
  test_text = pd.read_csv(testtext, delimiter = "\t",names=['text'])
  test_labels = pd.read_csv(testlab, delimiter = "\t",names=['label'])
  train_labels = pd.read_csv(trainlab, delimiter = "\t",names=['label'])
  train_text = pd.read_csv(traintext, delimiter = "\t",names=['text'])
  val_text = pd.read_csv(valtext, delimiter = "\t",names=['text'])
  val_labels = pd.read_csv(vallab, delimiter = "\t",names=['label'])

  df_test = pd.concat([test_text,test_labels],axis=1)
  df_train = pd.concat([train_text,train_labels],axis=1)
  df_val = pd.concat([val_text,val_labels],axis=1)

In [82]:
import_data('/content/CE888/tweeteval-main/datasets/offensive/test_text.txt','/content/CE888/tweeteval-main/datasets/offensive/test_labels.txt','/content/CE888/tweeteval-main/datasets/offensive/train_labels.txt',
            '/content/CE888/tweeteval-main/datasets/offensive/train_text.txt','/content/CE888/tweeteval-main/datasets/offensive/val_text.txt','/content/CE888/tweeteval-main/datasets/offensive/val_labels.txt')

In [83]:
df_test

                                                  text  label
0    #ibelieveblaseyford is liar she is fat ugly li...      1
1    @user @user @user I got in a pretty deep debat...      0
2    ...if you want more shootings and more death, ...      0
3    Angels now have 6 runs. Five of them have come...      0
4    #Travel #Movies and Unix #Fortune combined  Vi...      0
..                                                 ...    ...
855  #CNN irrationally argues 4 legalising #abortio...      0
856  @user @user @user @user @user @user @user @use...      0
857  #Conservatives don’t care what you post..it’s ...      1
858  #antifa #Resist.. Trump is trying to bring wor...      0
859  #Maine you need to face facts @user doesn’t re...      0

[860 rows x 2 columns]